/*
Additional CSS file to override ink's default styles.
Let's give some eye-candy to our warriors.
*/
@font-face {
font-family: "Visitor";
src: url('fonts/visitor/visitor1.ttf');
}
.visitor {font-family: "Visitor";}
h2 small {font-size:12px;}
h2 small.note{ font-size:.4em; }

td.death{ color:#FF706C; }
td.revive{ color:#59B407; }
td.avenge{ color:#4395AF; }
td{ padding:3px; }

.clear {clear:both;}
.hp-bar { position: relative; width:500px; font-family: "Tahoma"; font-size: 22px; margin-bottom: 30px;}
.hp-bar .health {float:left; border:1px solid #999; border-radius:4px; width:100%; }
.hp-bar .health-remaining {float:left; background:#247f00; height: 20px; }
.hp-bar .health-remaining-text {text-align: center; letter-spacing: .1em; font-family: "Visitor"; margin-top: 10px;}
.hp-bar .health-total-text { position:absolute; top:25px; right:3px; letter-spacing: .1em; font-family: "Visitor";}
.hp-bar .health-total {float: left;  height:20px; }
.hp-bar .red {background:#af0000;}
.hp-bar .orange {background:#ea7900;}
.hp-bar .yellow {background:#eacc00;}
.red {color:#af0000;}

ul.rules{ font-size: .9em; }

.hero{ background-color: #EEE; padding:10px; border:2px solid #FEFEFE; border-radius: 10px; }
.ink-row .praise{margin: 1.2%; padding: .3%; border:1px solid #EEE; background: #fff; min-height: 100px;}
.ink-row .praise h4{margin-bottom:1em;}
/*classes*/
.ink-label.class-R{  background-color: #FF364D;  color: #222; }
.ink-label.class-K{  background-color: #C79C6E;  color: #222; }
.ink-label.class-H{  background-color: #ABD473;  color: #222; }
.ink-label.class-P{  background-color: #FCD349;  color: #222; }
.ink-label.class-B{  background-color: #69CCF0;  color: #222; }
.ink-label.class-DK{ background-color: #666666;  color: #222; }
.ink-label.class-W{  background-color: #9482C9;  color: #222; }
.ink-label.class-DVK{  background-color: #000000;  color: #FFF; }
.ink-label small{ font-size:10px; color:#fff; }
/*elements*/
.e_normal{   color:#666; background-color: #CCC;}
.e_water{    color:#06e; background-color: #CCC;}
.e_fire{     color:#f20; background-color: #CCC;}
.e_ice{      color:#FFF; background-color: #CCC;}
.e_earth{    color:#960; background-color: #CCC;}
.e_electric{ color:#80F; background-color: #CCC;}

.sidebar span.ink-label{ padding:1px 6px; font-size:.8em; font-weight: normal; display:inline-block;}
.sidebar h3{ padding-top:15px; font-size:1.3em; }

.boss-element {position: absolute; right:0; top:28px; font-size: 12px; font-family: arial; text-transform: uppercase; line-height: 22px; height: 22px; }
.boss-element img {float:left; margin-right:5px;}
.command{ font-family: Ubuntu_monospaced, serif; }
ul.menu ul{
     box-shadow:none;
}
.ink-navigation ul.menu li.active li a{
    background-color:#FFF !important;
}
.left-pad b,
.left-pad p,
.left-pad ul{
    padding-left: 50px;
}

#t_commands h3{

    color:#900;
}
#t_commands ul pre{
    color:#090;
    margin:1px;
    padding:1px;
}
#t_commands ul li{
    padding:1px;
    margin-left:40px;
}
.ink-label {white-space: nowrap;}
